html {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url(/img/body.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
}

h1 {
	font-family: "Emilys Candy", cursive;
	font-size: 50px;
	letter-spacing: 10px;
	text-shadow: #030008;
	margin: 10px 0 20px 0;
	position: relative;
	top: -30px;
}

td {
	border: 1px;
	width: 20px;
	height: 20px;
}

tr {
	border: 1px solid #ffff;
}

.head {
	background-color: #de2110;
	border-radius: 6px;
}

.snake {
	background-image: linear-gradient(
		45deg,
		#030008 25%,
		#de2110 25%,
		#de2110 50%,
		#030008 50%,
		#030008 75%,
		#de2110 75%,
		#de2110 100%
	);
	border-radius: 10px;
}

.pelette {
	background-color: brown;
	border-radius: 10px 5px;
}

#ring {
	border: 3px solid black;
	border-radius: 5px;
	box-shadow: black 20px 10px 50px;
	background-image: url(/img/game_board.png);
	position: relative;
	top: -40px;
}

#score {
	position: relative;
	right: 220px;
	text-decoration: underline;
	font-size: x-large;
	top: -40px;
	font-family: "Kanit", sans-serif;
}

#game-over {
	background-color: #0b61cd;
	color: #fff;
	top: 300px;
	font-size: 50px;
	position: absolute;
	border-radius: 15px;
	padding: 10px 25px;
	z-index: 1;
	font-family: "Kanit", sans-serif;
}

#start {
	letter-spacing: 3px;
	position: absolute;
	top: 450px;
	padding: 10px 25px;
	font-size: 24px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	background-color: #0b61cd;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
	font-family: "Kanit", sans-serif;
	z-index: 1;
}

#start:hover {
	background-color: #3e8e41;
}

#start:active {
	background-color: #3e8e41;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}
