body {
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url(/img/body.jpg);
	background-size: cover;
}

h1 {
	font-family: "Emilys Candy", cursive;
	font-size: 50px;
	letter-spacing: 10px;
	text-shadow: #030008;
}

div {
	position: relative;
	right: 180px;
	text-decoration: underline;
	font-size: x-large;
}

td {
	border: 1px;
	width: 20px;
	height: 20px;
}

tr {
	border: 1px solid #ffff;
}

.head {
	background-color: brown;
}

.snake {
	background-image: linear-gradient(
		45deg,
		#030008 25%,
		#de2110 25%,
		#de2110 50%,
		#030008 50%,
		#030008 75%,
		#de2110 75%,
		#de2110 100%
	);
	border-radius: 10px;
}

.pelette {
	background-color: rgb(226, 90, 101);
	border-radius: 7px;
}

#ring {
	border: 3px solid black;
	border-radius: 5px;
	box-shadow: black 20px 10px 50px;
	background-image: url(/img/game_board.png);
}

#start {
	position: absolute;
	top: 400px;
	padding: 15px 25px;
	font-size: 24px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	background-color: #2f21a8;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
}

#start:hover {
	background-color: #3e8e41;
}

#start:active {
	background-color: #3e8e41;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}
